 <li class="item-list">
    <div class="flex item-container">
        <div class="item-img"></div>
        <div class="item-info">
            <div class="flex">
                <span class="item-title">@Title</span>
                <span class="item-time time-recent">@Time</span>
            </div>
            <span class="item-description">@Description</span>
        </div>
    </div>
</li>

@code {
    [EditorRequired]
    [Parameter]
    public string Title {get; set;}

    [EditorRequired]
    [Parameter]
    public string Time {get; set;}

    [EditorRequired]
    [Parameter]
    public string Description {get; set;}
}