img.principal-image {
    width: 95px;
    height: 95px;
    border-radius: 30px;
    border: 4px solid #45FEFE;
    padding: 7px;
    background-color: #FFFFFF;
}

.image-align {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}